# Visual Studio Code
.vscode
.factorypath

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# Vim
*.swp
*.swo

# OSX
.DS_Store

# patch
*.orig
*.rej

# Local environment
.env

#logs
logs/

#some files
files.txt

# build file
build
*_pycache*

# db test file
*session.dbm*